<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Holisticly - Home</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <section class="sidenav">
    <h1>SolaVieve</h1>
    <a href="#" class="active">Home</a>

    <div class="online-services">
      <h3>ONLINE SERVICES</h3>
      <a href="#">Practitioner Services</a>
      <a href="#">Virtual Coaching</a>
      <a href="#">Media Library</a>
    </div>

    <div class="on-side-services">
      <h3>ON-SIDE SERVICES</h3>
      <a href="#">Wellness Treatments</a>
      <a href="#">Activities</a>
    </div>

    <button>Support</button>
  </section>

  <section class="navbar">
    <img src="./images/abu.jpg" alt="Profile image">
    <div>
      <h1>Abu</h1>
      <p>abdulrahman.almonajed@gmail.com</p>
    </div>
  </section>
</body>

</html>
