<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Holisticly - Home</title>
  <link rel="stylesheet" href="css/style.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q7Y30TJ4GT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-Q7Y30TJ4GT');

  </script>
</head>

<body>

  <section class="sidenav">
    <h1>SolaVieve</h1>
    <a href="/" class="active">Home</a>

    <div class="online-services">
      <h3>ONLINE SERVICES</h3>
      <a href="/services">Practitioner Services</a>
      <a href="/coaching">Virtual Coaching</a>
      <a href="/media">Media Library</a>
    </div>

    <div class="on-side-services">
      <h3>ON-SIDE SERVICES</h3>
      <a href="/treatments">Wellness Treatments</a>
      <a href="#">Activities</a>
    </div>

    <button class="btn">Support</button>
  </section>

  <section class="navbar">
    <img src="./images/abu.jpg" alt="Profile image">
    <div>
      <h1>Abu</h1>
      <p>abdulrahman.almonajed@gmail.com <span><i class="arrow down"></i></span></p>
    </div>
  </section>

  <section class="main">
    <h2>Let's make some progress, Abu!</h2>
    <br>

    <div class="row">
      <div class="col-2">
        <div class="check">
          <input type="checkbox" id="checkbox" name="profile-data-check" checked>
          <label for="checkbox" class="checkbox-label"></label>
        </div>
      </div>
      <div class="col-10">
        <div class="profile-data-box box">
          <h1>Your Profile</h1>
          <p>Your information will help us offering you the most personalized services</p>
          <button class="complete-profile-btn btn">
            Complete Profile
          </button>
        </div>
      </div>

      <div class="col-2">
        <div class="check">
          <input type="checkbox" id="checkbox-2" name="wq-data-check" checked>
          <label for="checkbox-2" class="checkbox-label"></label>
        </div>
      </div>
      <div class="col-10">
        <div class="wq-data-box box">
          <h1>Your Wellbeing Data</h1>
          <p>Our WQ-Test will determine valuable insights and areas of improvement.</p>
          <button class="complete-wq-data-btn btn">
            Complete Test
          </button>
        </div>
      </div>
    </div>






  </section>
</body>

</html>
