<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Holisticly - Media</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <section class="sidenav">
    <h1>SolaVieve</h1>
    <a href="/">Home</a>

    <div class="online-services">
      <h3>ONLINE SERVICES</h3>
      <a href="/services">Practitioner Services</a>
      <a href="/coaching">Virtual Coaching</a>
      <a href="/media" class="active">Media Library</a>
    </div>

    <div class="on-side-services">
      <h3>ON-SIDE SERVICES</h3>
      <a href="/treatments">Wellness Treatments</a>
      <a href="#">Activities</a>
    </div>

    <button class="btn">Support</button>
  </section>

  <section class="wq-test">
    <div class="available-services">
      <h1>Available Media Material</h1>
      <div class="row">
        <div class="col-6">
          <div class="card media">
            <div class="card-body">
              <div class="bg"></div>
            </div>
            <div class="card-footer">
              <p>How to increase productivity while working from home <i class="fas fa-2x fa-arrow-right"></i></p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card media">
            <div class="card-body">
              <div class="bg"></div>
            </div>
            <div class="card-footer">
              <p>New Wellness Trend: Gut Health <i class="fas fa-2x fa-arrow-right"></i></p>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card media">
            <div class="card-body">
              <div class="bg"></div>
            </div>
            <div class="card-footer">
              <p>Benefits of art and music (keep yourself active) <i class="fas fa-2x fa-arrow-right"></i></p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card media">
            <div class="card-body">
              <div class="bg"></div>
            </div>
            <div class="card-footer">
              <p>COVID-19 and Mental Health <i class="fas fa-2x fa-arrow-right"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>

</body>

</html>
