<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Holisticly - Practitioner Services</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <section class="sidenav">
    <h1>SolaVieve</h1>
    <a href="/">Home</a>

    <div class="online-services">
      <h3>ONLINE SERVICES</h3>
      <a href="/services" class="active">Practitioner Services</a>
      <a href="/coaching">Virtual Coaching</a>
      <a href="/media">Media Library</a>
    </div>

    <div class="on-side-services">
      <h3>ON-SIDE SERVICES</h3>
      <a href="/treatments">Wellness Treatments</a>
      <a href="#">Activities</a>
    </div>

    <button class="btn">Support</button>
  </section>

  <section class="wq-test">
    <div class="wq-test-box box">
      <h1>Your profile & WQ-Test</h1>
      <p>Make sure that all your data is up to date. We will also make sure to offer the most personalized services for you.</p>
      <button class="complete-profile-btn btn">
        Edit Data
      </button>
    </div>

    <div class="tabs services">
      <button class="btn">
        Mental
      </button>
      <button class="btn">
        Spiritual
      </button>
      <button class="btn active">
        Physical
      </button>
      <button class="btn">
        Social
      </button>
      <button class="btn">
        Environmental
      </button>
      <button class="btn">
        Economic
      </button>
    </div>

    <div class="available-services">
      <h1>Available Services</h1>
      <div class="row">
        <div class="col-6">
          <div class="card">
            <div class="card-body">
              <div class="bg"></div>
              <div class="bg-text">
                <h2>Lifestyle Exercise</h2>
                <small>Physical</small>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn">Details</button>
              <button class="btn">Book Service</button>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="card-body">
              <div class="bg"></div>
              <div class="bg-text">
                <h2>Lifestyle Exercise</h2>
                <small>Physical</small>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn">Details</button>
              <button class="btn">Book Service</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>
