<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Holisticly - Wellness Treatments</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <section class="sidenav">
    <h1>SolaVieve</h1>
    <a href="/">Home</a>

    <div class="online-services">
      <h3>ONLINE SERVICES</h3>
      <a href="/services">Practitioner Services</a>
      <a href="/coaching">Virtual Coaching</a>
      <a href="/media">Media Library</a>
    </div>

    <div class="on-side-services">
      <h3>ON-SIDE SERVICES</h3>
      <a href="/treatments" class="active">Wellness Treatments</a>
      <a href="#">Activities</a>
    </div>

    <button class="btn">Support</button>
  </section>

  <section class="wq-test">
    <div class="tabs treatments">
      <button class="btn active" style="width: 30%;">
        Medical Wellness & Balneo Therapies
      </button>
      <button class="btn" style="width: 25%">
        Wellness treatments
      </button>
      <button class="btn" style="width: 25%;">
        Cosmetic treatments
      </button>
      <button class="btn" style="width: 20%">
        Ayurvedic treatments
      </button>
      <button class="btn" style="width: 20%">
        Check up
      </button>
    </div>

    <div class="available-services">
      <h1>Available Services</h1>
      <div class="row">
        <div class="col-6">
          <div class="card treatments-card">
            <div class="card-body">
              <div class="bg"></div>
              <div class="bg-text">
                <h2>Therapeutic Massage</h2>
                <small>50min - 99,00$</small>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn">Details</button>
              <button class="btn">Book Coaching</button>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card treatments-card">
            <div class="card-body">
              <div class="bg"></div>
              <div class="bg-text">
                <h2>Hydroxeur Bath</h2>
                <small>20min - 45,00$</small>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn">Details</button>
              <button class="btn">Book Coaching</button>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card treatments-card">
            <div class="card-body">
              <div class="bg"></div>
              <div class="bg-text third">
                <h2>Reiki</h2>
                <small>60min - 106,00$</small>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn">Details</button>
              <button class="btn">Book Coaching</button>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card treatments-card">
            <div class="card-body">
              <div class="bg"></div>
              <div class="bg-text">
                <h2>Centrifugal Massage</h2>
                <small>50min - 99,00$</small>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn">Details</button>
              <button class="btn">Book Coaching</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>
